h1{
text-align:center;
color: burlywood;
  background-color: blueviolet;
font-family:broadway; 
}
body{
background-color:pink;


}
p{
text-align:center;
font-size:25;

}
h2{
  color: blueviolet;
font-size:30;
text-align:center;
background-color: aquamarine;
font-family:arial;

}