p{
font-family:Algerian;
text-decoration:underline;
font-weight:bold;
font-size:21;
color:blueviolet;
background-color:bisque;
}

_______________________________________
use wordpad to see all font style
open with firefox to check all type of color
