.myaudio{

width:600;
height:50;
background-color: antiquewhite;
border-radius:1;
margin-left:340;
  margin-top:;
  margin-bottom:200; 
}
h1{

margin-left:479;
color: blueviolet;
font-family:forte;
  background-color: black;
  margin-right:518;
}
.myimg{

margin-left:460;
  margin-top:150;
}
body{
  background-color: aqua;
  
}
