body{

background-color:royalblue;  


}
h1{
  
  color:gold;
  text-align: center;
  font-size:45; 
  background-color: blue;
  margin-top:25;
  
}
.mydiv1{

background:linear-gradient(to bottom,forestgreen,mediumorchid,green,brown,purple);
height:472;
width:300;
  margin-left:28;
float:left;

}

.mydiv2{

height:472;
width:300;
background:-moz-radial-gradient(red 20%,orange,pink ,yellow );
  float:right;
}
.mydiv3{
  height:500;
 width:400;
  margin-left:135;
  margin-right:100;
  float:left;
  
}

.mydiv3 > p{
  color:aliceblue;
  font-size:16;
  line-height:190%; 
  
  
  
}