.A{
  background-color: burlywood; 
color:red;
text-align:center;
  margin-top:42;
margin-left:300;
  margin-right:69;
margin-bottom:200;
  margin-top:40;
  padding-top:20;
  padding-bottom:20;
}
.B{
color:green;
text-align:center;
  margin:500;
}