.mydiv{
width:600;
height:400;
background-color:pink;
}
.mydiv1{
width:500;
height:300;
background-color:red;

}
.mydiv2{
width:400;
height:200;
background-color:yellow;

}
.mydiv3{
width:300;
height:100;
background-color:blue;

}