.mydiv1{
width:400;
height:300;
background-color:purple;
float:left;
margin-right:10;

}

.mydiv2{
width:400;
height:300;
background-color:green;
float:left;
margin-left:20;
}

.mydiv3{
width:400;
height:300;
float:left;
background-color:red;
margin-left:30;
}
.mydiv5{
width:400;
height:300;
background-color:purple;
float:left;
margin-right:10;

}

.mydiv6{
width:400;
height:300;
float:left;
margin-left:20;
background-image:url("bird.jpg");
background-size:300 250;
  background-repeat:no-repeat;
}

.mydiv4{
width:400;
height:300;
float:left;
background-image:url("string.jpg");
margin-right:30;
background-size:400 300;

}